@media only screen and (max-width: 1500px){
    
}

@media only screen and (max-width: 1200px){
    body {
        font-size: 18px;
    }
    .hero_info h2 {
        font-size: 70px;
    }
    .heading--style1 {
        font-size: 45px;
    }
    .projects_cards .projects_card h2 {
        font-size: 18px;
    }
}

@media only screen and (max-width: 1024px){
    .header_holder.fixheader {
        background: transparent;
        border-bottom: none;
    }
    .header_holder {
        position: static;
        padding: 0;
    }
    
}
@media only screen and (max-width: 1000px){
    .nav .hamburger {
        display: block;
        position: fixed;
        top: 51px;
        right: 25px;
    }
    .nav .hamburger.active:before{
        content: "\2716";
    }

    .nav .nav-menu {
        display: block;
        position: fixed;
        top: 0;
        right: -300px;
        width: 280px;
        height: 100dvh;
        background: #0f0f0f;
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        z-index: 998;
        padding: 100px 10px 40px;
        text-align: center;
        line-height: 50px;
        transition: ease 0.5s;
        opacity: 0;
    }
    .nav .nav-menu.active{
        right: 0;
        opacity: 1;
    }

    .cv_down{
        display: none;
    }

    .hero_img {
        display: none;
    }
    
}

@media only screen and (max-width: 800px){
    
}

@media only screen and (max-width: 600px){
    
}

@media only screen and (max-width: 500px){
    
}